{% block content %}

    <header class="Header">
        <img class="Header-img" src="{{asset('img/open-book.png')}}" alt="open-book.png">
        <h1 class="Header-h1">
            <a class="Header-h1-link" href="">Anthroposis II</a>
        </h1>
        {% include '_partials/navbar.html.twig'%}
    </header>

{% endblock %}