{{ form_start(form,{'attr': {'class': 'Form'}}) }}
{{ form_row(form.search, {'attr': {'class': 'Form-component-input'}}) }}
    <button class="Form-button" type="submit">Rechercher</button>
{{ form_end(form) }}