{{ form_start(commentForm,{'attr': {'class': 'Form', }}) }}
    {{ form_row( commentForm.content ) }}
        <button class="Form-button">{{ button_label|default('Commenter') }}</button>
{{ form_end(commentForm,) }}