{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="Page">
    <h2 class="Page-title">Catégories</h2>

    <div class="Page-categories">

        {% for category in categories %}

            <div class="Page-categories-category">
                <h3 class="Page-categories-category-title"><a  class="Page-categories-category-title-link" href="{{ path('app_categories_category_show', {'slug': category.slug}) }}">{{ category.label }}</a></h3>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
