{% extends 'baseAdmin.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}

<div class="Admin">

    <h2 class="Admin-title">Créer une catégorie</h2>

    {% include 'admin/category/_form.html.twig'  %}

</div>

{% endblock %}
