{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="Admin">

    <h2 class="Admin-title">Tableau de bord</h2>
    <p>Vous avez écrit {{ countArticles }} articles depuis vôtre inscription</p>
    <p>Compte créé le {{ createdAtFr }}</p>

</div>

{% endblock %}
