{% extends 'baseAdmin.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}

<div class="Admin">

    <h2 class="Admin-title">Écrire un article</h2>

    {{ include('article/_form.html.twig') }}

</div>

{% endblock %}
